@font-face {
    font-family: 'Cyberpunk';
    src: url('/assets/fonts/cyberpunk.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }
  
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  html,
  body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background: #000;
    color: #fff;
    font-family: 'Cyberpunk', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }
  
  #root {
    width: 100%;
    height: 100%;
  }
  
  canvas {
    touch-action: none;
  }